.add-task-btn{
        position: absolute;
        bottom: 0px;
        left: calc(50% - 110px/2);
        transform: scale(0.87);
    transition: .5s;
    &__plus{
    fill: var(--fields-color)
    }
    &:hover, &:focus{
        outline: none;
        transform: rotate(45deg);
    }
}

