.nav-bar{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;

}
.nav-bar__item{
  background-color: transparent;
  border: 0;
  margin: 0;
  display: block;
  transition: .5s;
  &:focus{
    outline: none;
    opacity: 0.7;
  }
  ////&:not(.add-task-btn) path, & rect{
  //  fill: $main-color;
  //  stroke: $main-color;
  //}
  //& path {
  //  stroke: $main-color;
  //}
}
 @import "./addTaskBtn";